<div class="header-limit">
    <div class="logo">
        <img src="assets/img/profil.png" alt="Profil Elouan" class="profile-img">
        <a href="#top">
            <strong id="word" data-key="title">Elouan BOITEUX</strong>
        </a>
    </div>
    <nav class="fancy-menu">
        <ul>
            <li><a href="#portfolio" data-key="navProjects">Projets</a></li>
            <li><a href="#skills" data-key="navSkills">Compétences</a></li>
            <li><a href="#history" data-key="navHistory">Parcours</a></li>
            <li><a href="#contact" data-key="navContact">Contacts</a></li>
        </ul>
        <div class="language-switcher">
            <button><img src="assets/img/fr.png" alt="Français"></button>
            <button><img src="assets/img/en.png" alt="English"></button>
        </div>
    </nav>
    <div class="navi-lines">
        <div class="navTrigger"><i></i><i></i><i></i></div>
    </div>
</div>