<div class="navi-lines">
    <div class="navTrigger"><i></i><i></i><i></i></div>
</div>
<div class="logo">
    <img src="assets/img/profil.png" alt="Profil Elouan" class="profile-img">
    <a href="#top">
        <strong id="word" data-key="title">Elouan BOITEUX</strong>
    </a>
</div>
<nav class="fancy-menu">
    <ul>
        <li><a href="#portfolio">Projets</a></li>
        <li><a href="#skills">Compétences</a></li>
        <li><a href="#history">Parcours</a></li>
        <li><a href="#contact">Contacts</a></li>
    </ul>
</nav>