<div id="modal2" class="modal">
    <div class="modal-content">
        <button class="close-btn-popup"><i class="fa-solid fa-xmark"></i></button>

        <div class="modal-image">
            <img src="assets/projects/canyon-radar/illustration.png" alt="Canyon Radar">
        </div>

        <div class="modal-body">
            <h3 data-key="modalCanyonRadarTitle">Canyon Radar 🧗‍♂️</h3>
            <p data-key="modalCanyonRadarDesc1">
                Application web pour planifier vos sorties canyoning. Choisissez un lieu ou utilisez votre position
                actuelle,
                filtrez les canyons accessibles selon le temps de route et exportez les résultats pour planification.
            </p>

            <ul class="tech-list">
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Node.js</li>
            </ul>

            <div class="links">
                <a href="https://github.com/Elouan1411/CanyonRadar" target="_blank" data-key="portSourceCode"><i
                        class="fa-brands fa-github"></i>
                    Code source</a>
            </div>

            <hr>

            <div class="project-description">
                <p data-key="modalCanyonRadarDesc2">
                    Canyon Radar permet de trouver tous les canyons accessibles depuis un point donné en un temps de
                    route
                    maximal.
                    Les résultats peuvent être exportés en CSV ou Excel pour organiser vos sorties.
                </p>



                <div class="visual-website">
                    <a href="https://canyon-radar.elouanboiteux.fr" target="_blank" data-key="modalViewSite">
                        <i class="fa-solid fa-up-right-from-square"></i> Voir le site
                    </a>
                </div>

                <p data-key="modalCanyonRadarDesc3">
                    Le projet utilise l’API OpenRouteService pour calculer les temps de trajet précis et un backend
                    Node.js hébergé
                    sur Vercel pour sécuriser la clé API.
                </p>

                <p data-key="modalCanyonRadarDesc4">
                    Les données des canyons sont stockées dans <code>data.json</code> et filtrées côté frontend pour
                    afficher
                    uniquement les lieux accessibles. Le frontend est développé en HTML, CSS et JavaScript.
                </p>

                <div class="video">
                    <video width="640" height="360" autoplay loop controls>
                        <source src="assets/projects/canyon-radar/video.mp4" type="video/mp4">
                    </video>
                </div>

                <p data-key="modalCanyonRadarDesc5">
                    Canyon Radar intègre plusieurs fonctionnalités clés :
                </p>
                <ul>
                    <li data-key="modalCanyonRadarList1"><strong>Choix de la localisation</strong> : position actuelle
                        ou point sur la carte ;</li>
                    <li data-key="modalCanyonRadarList2"><strong>Filtrage par temps de trajet</strong> : limite les
                        canyons accessibles ;</li>
                    <li data-key="modalCanyonRadarList3"><strong>Exportation des résultats</strong> : CSV ou Excel pour
                        planification et analyse.</li>
                </ul>
                <br>
                <p data-key="modalCanyonRadarDesc6">
                    Ce projet m’a permis d’explorer l’intégration d’API tierces, la gestion de données géographiques
                    et le développement d’une interface web interactive.
                </p>
            </div>
        </div>
    </div>
</div>