<div id="modal3" class="modal">
    <div class="modal-content">
        <button class="close-btn-popup"><i class="fa-solid fa-xmark"></i></button>

        <div class="modal-image">
            <img src="assets/projects/centipede/illustration.png" alt="Centipede Game">
        </div>

        <div class="modal-body">
            <h3 data-key="modalCentipedeTitle">Centipede Game 🐛</h3>
            <p data-key="modalCentipedeDesc1">
                <strong>Centipede Game</strong> est un projet réalisé dans le cadre du <strong>projet semestriel de L1
                    en CMI Informatique</strong>.
                Il s’agit de mon <strong>premier projet de développement de jeu vidéo</strong>, entièrement conçu en
                <strong>Python</strong> à l’aide de <strong>Pygame</strong>.
            </p>

            <ul class="tech-list">
                <li>Python</li>
                <li>Pygame</li>
            </ul>

            <div class="links">
                <a href="https://github.com/Elouan1411/game-centipede-python" target="_blank" data-key="portSourceCode">
                    <i class="fa-brands fa-github"></i> Code source
                </a>
            </div>

            <hr>

            <div class="project-description">
                <p data-key="modalCentipedeDesc2">
                    Le joueur incarne un nain et doit éliminer des vagues successives d’ennemis variés.
                    À chaque nouveau niveau, la vitesse et le nombre d’ennemis augmentent, rendant le jeu de plus en
                    plus
                    difficile.
                </p>

                <p data-key="modalCentipedeDesc3">
                    Le jeu propose un <strong>système de niveaux</strong> progressif et <strong>une sauvegarde du
                        meilleur
                        score</strong> après chaque partie.
                    La programmation a été réalisée en <strong>POO (Programmation Orientée Objet)</strong> avec
                    l’utilisation de <strong>l’héritage</strong> pour structurer les entités du jeu (joueur, ennemis,
                    projectiles...).
                </p>

                <p data-key="modalCentipedeDesc4">
                    Ce projet m’a permis de découvrir le développement de jeux 2D, la gestion d’événements clavier, les
                    collisions, et les boucles principales de jeu.
                </p>

                <div class="video">
                    <video width="640" height="360" autoplay loop muted controls>
                        <source src="assets/projects/centipede/video.mp4" type="video/mp4">
                    </video>
                </div>

                <p data-key="modalCentipedeAcks">
                    Reconnaissances :
                </p>
                <ul>
                    <li data-key="modalCentipedeList1">Samia Benali pour la création des images utilisées dans le jeu ;
                    </li>
                    <li data-key="modalCentipedeList2">Nos professeurs et mentors pour leur accompagnement pendant le
                        projet.</li>
                </ul>
                <br>
                <p data-key="modalCentipedeDesc5">
                    Un <strong>rapport de projet</strong> détaillant la conception, la structure du code et les choix
                    techniques a également été rédigé dans le cadre de cette réalisation.
                </p>
                <div class="report-download">
                    <a href="assets/projects/centipede/report.pdf" target="_blank" class="download-btn"
                        data-key="modalDownloadReport">
                        <i class="fa-solid fa-file-pdf"></i> Télécharger le rapport de recherche
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>