<div id="modal1" class="modal">
    <div class="modal-content">
        <button class="close-btn-popup"><i class="fa-solid fa-xmark"></i></button>

        <div class="modal-image">
            <img src="assets/projects/completion-semi-auto/illustration.png" alt="Completion semi automatique">
        </div>

        <div class="modal-body">
            <h3>Application de Completion semi-automatique</h3>
            <p>Application de complétion semi-automatique développée en Rust et Python.
                Elle propose des suggestions de mots intelligentes pour l'utilisateur en s’appuyant différentes
                approches.
            </p>

            <ul class="tech-list">
                <li>Rust</li>
                <li>Python</li>
                <li>Linux</li>
            </ul>

            <div class="links">
                <a href="https://github.com/Elouan1411/completion-auto" target="_blank"><i
                        class="fa-brands fa-github"></i> Code
                    source</a>
            </div>

            <hr>

            <div class="project-description">
                <p>
                    La première étape de ce projet a consisté à réaliser un <strong>travail de recherche
                        approfondi</strong>
                    sur les techniques utilisées dans la complétion semi-automatique de texte.
                    Ce travail, mené en collaboration avec ma camarade <strong>Samia Benali</strong>,
                    s’inscrivait dans le cadre du <strong>Cursus Master Ingénierie (CMI)</strong> durant ma deuxième
                    année
                    de licence (L2).
                </p>

                <p>
                    Nous avons étudié différentes approches utilisées par les systèmes modernes, notamment les
                    <strong>algorithmes de distance d’édition</strong> tels que celui de <strong>Levenshtein</strong>,
                    ainsi que l’usage des <strong>chaînes de Markov</strong> dans l’adaptation des suggestions en
                    fonction
                    du contexte
                    ou de l’historique de l’utilisateur.
                </p>

                <p>
                    À la suite de cette phase d’analyse, j’ai conçu et développé une <strong>application de complétion
                        semi-automatique</strong>
                    permettant de mettre en œuvre ces concepts de manière concrète.
                    L’objectif est d’offrir des suggestions pertinentes à partir de mots partiellement saisis.
                </p>

                <div class="video">
                    <video width="640" height="360" autoplay loop controls>
                        <source src="assets/projects/completion-semi-auto/resultat.mp4" type="video/mp4">
                    </video>
                </div>

                <p>
                    L’application repose sur trois approches principales :
                </p>

                <ul>
                    <li><strong>La distance de Levenshtein</strong> pour mesurer la similarité entre les mots et
                        corriger
                        les fautes de frappe ;</li>
                    <li><strong>La reconnaissance de préfixes</strong> pour proposer rapidement des complétions adaptées
                        aux premières lettres tapées ;</li>
                    <li><strong>La fréquence d’utilisation</strong> pour favoriser les mots les plus couramment employés
                        par l’utilisateur.</li>
                </ul>


                <br>

                <p>
                    Le cœur du projet est développé en <strong>Rust</strong>, garantissant performance et sécurité
                    mémoire,
                    tandis que <strong>Python</strong> gère la partie interface et automatisation.
                    L’installation et l’exécution sont simplifiées grâce à une commande unique
                    <code>make install</code>.
                </p>

                <p>
                    Ce projet m’a permis de combiner <strong>travail de recherche</strong> et <strong>développement
                        logiciel</strong>,
                    tout en approfondissant mes connaissances en <strong>traitement du langage naturel</strong>,
                    <strong>optimisation algorithmique</strong> et <strong>programmation système</strong>.
                </p>

                <div class="report-download">
                    <a href="assets/projects/completion-semi-auto/report.pdf" target="_blank" class="download-btn">
                        <i class="fa-solid fa-file-pdf"></i> Télécharger le rapport de recherche
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>